#medication-journey { font-family: $f-sans-1; color: nth( $c-0, 2 ); background-color: white; padding: 100px 0; overflow-x: hidden;
  @include initial-setup;
  & > .content-container {
    & > .heading-container { text-align: center; margin-bottom: 35px;
      @media ( max-width: o-px-to-abs-em( 649px ) ) { margin-bottom: 20px }
      & .anchors-list { font: { size: 30px; weight: 400 }; user-select: none;
        @media ( max-width: o-px-to-abs-em( 999px ) ) { font-size: 20px }
        & li { display: none; position: relative;
          &.current { display: block }
          &.move-left { animation: move-left nth( $a-dt, 5 ) both }
          &.move-right { animation: move-right nth( $a-dt, 5 ) both }
          & a { color: nth( $c-1, 2 ); @include change-color( nth( $c-2, 2 ) nth( $c-1, 2 ) nth( $a-dt, 4 ) 85%, null ); cursor: pointer;
            &.video-display { color: nth( $c-2, 2 ) } } } } }
    & .slideshow { position: relative; width: 100vw; overflow-x: hidden;
      &.video-display { height: 650px; overflow-y: hidden }
      & .back-videos { position: absolute; top: 0; left: 0; @include fill; transition: background-color nth( $a-dt, 1 ) 1s;
        & .videos-list { height: 100%;
          & li { @include pos-center( left ); top: 15%;
            @media ( max-width: o-px-to-abs-em( 649px ) ) { width: 100% }
            @media ( max-width: o-px-to-abs-em( 519px ) ) { top: 7% }
            & video { display: none; width: 560px; height: 320px; animation: fade-in nth( $a-dt, 1 ) alternate infinite both paused;
              @media ( max-width: o-px-to-abs-em( 649px ) ) { width: 88%; margin: 0 auto } } } }
        & .exit { display: none; opacity: 0; transition: opacity nth( $a-dt, 1 ) 1s }
        &.video-display { background-color: nth( $c-0, 3 );
          & .exit { display: inline-block; opacity: 1; color: white; font: { size: 50px; weight: 200 }; clip-path: inset( 17px 0 ); position: absolute; top: 10px; right: 100px; cursor: pointer;
            @media ( max-width: o-px-to-abs-em( 999px ) ) { right: 30px } } } }
      & .displayed-content { display: table; min-height: 560px; white-space: nowrap; cursor: grab; animation: fade-out nth( $a-dt, 1 ) alternate infinite both paused; position: relative;
        & .slide-set { display: inline-block; white-space: normal; vertical-align: top; transition: opacity nth( $a-dt, 1 );
          & .slideshow-image { position: relative; margin-bottom: 20px;
            & .main-image { @include fill; background: { size: 190px 100%, cover; position: top right, center; repeat: no-repeat; blend-mode: multiply, normal };
              @each $class, $image in ( medications-learn-more: ( nth( $slideshow, 2 ), large 'pharmacy-9.jpg' 3 ),
                                        provider-sees: ( nth( $slideshow, 1 ), large 'pharmacy-10.jpg' 3 ),
                                        enters-diagnosis: ( nth( $slideshow, 4 ), large 'pharmacy-3.jpg' 3 ),
                                        writes-presciption: ( nth( $slideshow, 3 ), large 'pharmacy-16.jpg' 3 ),
                                        enrolls-patient: ( nth( $slideshow, 2 ), large 'pharmacy-11.jpg' 3 ),
                                        insurance-checked: ( nth( $slideshow, 1 ), large 'pharmacy-12.jpg' 3 ),
                                        benefits-delivered: ( nth( $slideshow, 4 ), large 'pharmacy-13.jpg' 3 ),
                                        pharmacy-administer: ( nth( $slideshow, 3 ), large 'pharmacy-1.jpg' 3 ),
                                        receives-medication: ( nth( $slideshow, 2 ), large 'pharmacy-2.jpg' 3 ),
                                        at-home: ( nth( $slideshow, 1 ), large 'pharmacy-14.jpg' 3 ),
                                        refills-medication: ( nth( $slideshow, 4 ), large 'pharmacy-15.jpg' 3 ),
                                        continues-to-learn: ( nth( $slideshow, 3 ), large 'pharmacy-7.jpg' 3 ),
                                        therapy-continues: ( nth( $slideshow, 2 ), large 'pharmacy-8.jpg' 3 ) )
                { &.#{ $class } { @include background-1( nth( $image, 1 ), nth( $image, 2 ) ) } } }
            & .ilustration { @include pos-center( top ) } }
          & .slideshow-text { text-align: center; user-select: none; cursor: default;
            & .topics-list { @include set-font( 22px, 200, nth( $c-0, 1 ) ); line-height: 1.54; max-width: 530px; text-align: left; margin: 0 auto; list-style: disc;
              @media ( max-width: o-px-to-abs-em( 999px ) ) { font-size: 18px }
              @media ( max-width: o-px-to-abs-em( 899px ) ) { list-style-position: inside; padding-left: 20px }
              @media ( max-width: o-px-to-abs-em( 649px ) ) { font-size: 16px; max-width: 420px; padding-left: 10px }
              @media ( max-width: o-px-to-abs-em( 499px ) ) { font-size: 15px; max-width: 350px; padding-left: 0 }
              @media ( max-width: o-px-to-abs-em( 399px ) ) { font-size: 14px; max-width: 280px }
              & li {
                &:not( :last-child ) { margin-bottom: 12px } } } }
          &[ class~="middle" ] {
            & .slideshow-image { width: 820px; height: 420px; margin-bottom: 35px;
              @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 546px }
              @media ( max-width: o-px-to-abs-em( 649px ) ) { width: 100vw; margin-bottom: 15px }
              & .main-image { box-shadow: unquote( nth( $bs, 1 ) ) }
              & .ilustration { width: 122px; right: 58px;
                @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 85px; right: 34px }
                @media ( max-width: o-px-to-abs-em( 649px ) ) { right: 5% }
                @media ( max-width: o-px-to-abs-em( 449px ) ) { width: 70px } } } }
          &[ class~="side" ] { width: 550px; height: 100%; padding-top: 34px;
            @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 420px }
            & .slideshow-image { height: 350px;
              & .main-image { filter: grayscale( 100% ) opacity( 40% ); transition: filter nth( $a-dt, 2 ) }
              & .ilustration { width: 92px; right: 30px;
                @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 75px; right: 16px } } }
            & .slideshow-text { display: none } }
          &:hover {
            & .slideshow-image {
              & .main-image { filter: none } } } } }
      & .arrows-set { @include row-flex; width: 820px; @include pos-center( left ); top: 485px; transition: filter nth( $a-dt, 1 ) 1s;
        @media ( max-width: o-px-to-abs-em( 849px ) ) { width: 660px }
        &:not( [ class~="video-display" ] ) {
          @media ( max-width: o-px-to-abs-em( 749px ) ) { position: static; width: 90%; transform: none; margin: 20px auto 0 } }
        & > * { cursor: pointer; transition: all nth( $a-dt, 2 );
          @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 18px } }
        & .larr { transform: translateX( 10px );
          &:hover { transform: translateX( 4px ); padding-right: 6px }
          &:active { transform: translateX( 0px ); padding-right: 10px } }
        & .rarr { transform: scaleX( -1 ) translateX( 10px );
          &:hover { transform: scaleX( -1 ) translateX( 4px ); padding-right: 6px }
          &:active { transform: scaleX( -1 ) translateX( 0px ); padding-right: 10px } }
        &.video-display { filter: grayscale( 100% ) brightness( 350% );
          @media ( max-width: o-px-to-abs-em( 999px ) ) { width: 92%; top: 445px }
          @media ( max-width: o-px-to-abs-em( 519px ) ) { top: 385px } } } } } }
