@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Pré-Configurações do Site */
@font-face { font-family: "Plain"; src: local("Plain UltraLight"), local("Plain-UltraLight"), url("../../../multimedia/fonts/plain/plain-ultra-light.woff2"), url("../../../multimedia/fonts/plain/plain-ultra-light.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Thin"), local("Plain-Thin"), url("../../../multimedia/fonts/plain/plain-thin.woff2"), url("../../../multimedia/fonts/plain/plain-thin.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Light"), local("Plain-Light"), url("../../../multimedia/fonts/plain/plain-light.woff2"), url("../../../multimedia/fonts/plain/plain-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Regular"), local("Plain-Regular"), url("../../../multimedia/fonts/plain/plain-regular.woff2"), url("../../../multimedia/fonts/plain/plain-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain ExtraBold"), local("Plain-ExtraBold"), url("../../../multimedia/fonts/plain/plain-extra-bold.woff2"), url("../../../multimedia/fonts/plain/plain-extra-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@-webkit-keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@-webkit-keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
/* Info Boxes: Transição para a Face Traseira */
@-webkit-keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
/* Info Boxes: Transição para a Face Dianteira */
@-webkit-keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
/* Achievements: Baloneamento dos Itens */
@-webkit-keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
@keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
/* Configurações de Entrada */
/*-------------------------------------------------------------------------------*/
/* Componentes */
#medication-journey { font-family: "Plain", sans-serif; color: #4d4d4d; background-color: white; padding: 100px 0; overflow-x: hidden; /* Atributos & Classes */ }
#medication-journey *, #medication-journey *::before, #medication-journey *::after { padding: 0; border: none; margin: 0; }
#medication-journey h1, #medication-journey h2, #medication-journey h3, #medication-journey h4, #medication-journey h5, #medication-journey h6, #medication-journey caption, #medication-journey legend { cursor: default; }
#medication-journey p:not(:last-child) { margin-bottom: 0.6em; }
#medication-journey a:link, #medication-journey a:visited, #medication-journey a:hover, #medication-journey a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }
#medication-journey ol, #medication-journey ul { list-style: none; }
#medication-journey dt { display: inline; }
#medication-journey dt::after { content: ": "; }
#medication-journey dd { display: inline; }
#medication-journey picture { display: inline-block; }
#medication-journey picture img { width: 100%; height: auto; }
#medication-journey img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#medication-journey abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
#medication-journey abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { #medication-journey abbr[title] { border: none; } }
#medication-journey abbr[data-title]::after { content: " (" attr(data-title) ")"; }
#medication-journey address, #medication-journey cite:not([lang]) { font-style: normal; }
#medication-journey button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }
#medication-journey input, #medication-journey textarea, #medication-journey select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; }
#medication-journey template { display: none; }
#medication-journey [tabindex] { outline: none; }
#medication-journey .line { display: block; }
#medication-journey > .content-container > .heading-container { text-align: center; margin-bottom: 35px; }
@media (max-width: 40.5625em) { #medication-journey > .content-container > .heading-container { margin-bottom: 20px; } }
#medication-journey > .content-container > .heading-container .anchors-list { font-size: 30px; font-weight: 400; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
@media (max-width: 62.4375em) { #medication-journey > .content-container > .heading-container .anchors-list { font-size: 20px; } }
#medication-journey > .content-container > .heading-container .anchors-list li { display: none; position: relative; }
#medication-journey > .content-container > .heading-container .anchors-list li.current { display: block; }
#medication-journey > .content-container > .heading-container .anchors-list li.move-left { -webkit-animation: move-left 1.2s ease-in-out both; animation: move-left 1.2s ease-in-out both; }
#medication-journey > .content-container > .heading-container .anchors-list li.move-right { -webkit-animation: move-right 1.2s ease-in-out both; animation: move-right 1.2s ease-in-out both; }
#medication-journey > .content-container > .heading-container .anchors-list li a { color: #4b4893; -webkit-transition: color 0.8s ease-out ; transition: color 0.8s ease-out ; outline: none; cursor: pointer; }
#medication-journey > .content-container > .heading-container .anchors-list li a:hover, #medication-journey > .content-container > .heading-container .anchors-list li a:focus { color: #6347a9; }
#medication-journey > .content-container > .heading-container .anchors-list li a:active { color: #7046b3; }
#medication-journey > .content-container > .heading-container .anchors-list li a.video-display { color: #7646b9; }
#medication-journey > .content-container .slideshow { position: relative; width: 100vw; overflow-x: hidden; }
#medication-journey > .content-container .slideshow.video-display { height: 650px; overflow-y: hidden; }
#medication-journey > .content-container .slideshow .back-videos { position: absolute; top: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 0; -webkit-transition: background-color 1s ease-in-out 1s; transition: background-color 1s ease-in-out 1s; }
#medication-journey > .content-container .slideshow .back-videos .videos-list { height: 100%; }
#medication-journey > .content-container .slideshow .back-videos .videos-list li { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 15%; }
@media (max-width: 40.5625em) { #medication-journey > .content-container .slideshow .back-videos .videos-list li { width: 100%; } }
@media (max-width: 32.4375em) { #medication-journey > .content-container .slideshow .back-videos .videos-list li { top: 7%; } }
#medication-journey > .content-container .slideshow .back-videos .videos-list li video { display: none; width: 560px; height: 320px; -webkit-animation: fade-in 1s ease-in-out alternate infinite both paused; animation: fade-in 1s ease-in-out alternate infinite both paused; }
@media (max-width: 40.5625em) { #medication-journey > .content-container .slideshow .back-videos .videos-list li video { width: 88%; margin: 0 auto; } }
#medication-journey > .content-container .slideshow .back-videos .exit { display: none; opacity: 0; -webkit-transition: opacity 1s ease-in-out 1s; transition: opacity 1s ease-in-out 1s; }
#medication-journey > .content-container .slideshow .back-videos.video-display { background-color: #0d0d0d; }
#medication-journey > .content-container .slideshow .back-videos.video-display .exit { display: inline-block; opacity: 1; color: white; font-size: 50px; font-weight: 200; -webkit-clip-path: inset(17px 0); clip-path: inset(17px 0); position: absolute; top: 10px; right: 100px; cursor: pointer; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .back-videos.video-display .exit { right: 30px; } }
#medication-journey > .content-container .slideshow .displayed-content { display: table; min-height: 560px; white-space: nowrap; cursor: -webkit-grab; cursor: grab; -webkit-animation: fade-out 1s ease-in-out alternate infinite both paused; animation: fade-out 1s ease-in-out alternate infinite both paused; position: relative; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set { display: inline-block; white-space: normal; vertical-align: top; -webkit-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image { position: relative; margin-bottom: 20px; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 0; background-size: 190px 100%, cover; background-position: top right, center; background-repeat: no-repeat; background-blend-mode: multiply, normal; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.medications-learn-more { background-image: -webkit-gradient(linear, left top, right top, from(#e17741), color-stop(5.25%, #e17741), color-stop(5.26%, #ea9861), color-stop(84.2%, #ea9861), to(#ea9862)), url("../../../multimedia/images/large/l-pharmacy-9.jpg"); background-image: linear-gradient(90deg, #e17741, #e17741 5.25%, #ea9861 5.26%, #ea9861 84.2%, #ea9862), url("../../../multimedia/images/large/l-pharmacy-9.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.provider-sees { background-image: -webkit-gradient(linear, left top, right top, from(#9a91b1), color-stop(5.25%, #9a91b1), color-stop(5.26%, #a89cbf), color-stop(84.2%, #a89cbf), to(#988daa)), url("../../../multimedia/images/large/l-pharmacy-10.jpg"); background-image: linear-gradient(90deg, #9a91b1, #9a91b1 5.25%, #a89cbf 5.26%, #a89cbf 84.2%, #988daa), url("../../../multimedia/images/large/l-pharmacy-10.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.enters-diagnosis { background-image: -webkit-gradient(linear, left top, right top, from(#7e918b), color-stop(5.25%, #7e918b), color-stop(5.26%, #7c9c8c), color-stop(84.2%, #7c9c8c), to(#7ea08e)), url("../../../multimedia/images/large/l-pharmacy-3.jpg"); background-image: linear-gradient(90deg, #7e918b, #7e918b 5.25%, #7c9c8c 5.26%, #7c9c8c 84.2%, #7ea08e), url("../../../multimedia/images/large/l-pharmacy-3.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.writes-presciption { background-image: -webkit-gradient(linear, left top, right top, from(#92abc4), color-stop(5.25%, #92abc4), color-stop(5.26%, #a0b8d4), color-stop(84.2%, #a0b8d4), to(#a9c5e5)), url("../../../multimedia/images/large/l-pharmacy-16.jpg"); background-image: linear-gradient(90deg, #92abc4, #92abc4 5.25%, #a0b8d4 5.26%, #a0b8d4 84.2%, #a9c5e5), url("../../../multimedia/images/large/l-pharmacy-16.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.enrolls-patient { background-image: -webkit-gradient(linear, left top, right top, from(#e17741), color-stop(5.25%, #e17741), color-stop(5.26%, #ea9861), color-stop(84.2%, #ea9861), to(#ea9862)), url("../../../multimedia/images/large/l-pharmacy-11.jpg"); background-image: linear-gradient(90deg, #e17741, #e17741 5.25%, #ea9861 5.26%, #ea9861 84.2%, #ea9862), url("../../../multimedia/images/large/l-pharmacy-11.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.insurance-checked { background-image: -webkit-gradient(linear, left top, right top, from(#9a91b1), color-stop(5.25%, #9a91b1), color-stop(5.26%, #a89cbf), color-stop(84.2%, #a89cbf), to(#988daa)), url("../../../multimedia/images/large/l-pharmacy-12.jpg"); background-image: linear-gradient(90deg, #9a91b1, #9a91b1 5.25%, #a89cbf 5.26%, #a89cbf 84.2%, #988daa), url("../../../multimedia/images/large/l-pharmacy-12.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.benefits-delivered { background-image: -webkit-gradient(linear, left top, right top, from(#7e918b), color-stop(5.25%, #7e918b), color-stop(5.26%, #7c9c8c), color-stop(84.2%, #7c9c8c), to(#7ea08e)), url("../../../multimedia/images/large/l-pharmacy-13.jpg"); background-image: linear-gradient(90deg, #7e918b, #7e918b 5.25%, #7c9c8c 5.26%, #7c9c8c 84.2%, #7ea08e), url("../../../multimedia/images/large/l-pharmacy-13.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.pharmacy-administer { background-image: -webkit-gradient(linear, left top, right top, from(#92abc4), color-stop(5.25%, #92abc4), color-stop(5.26%, #a0b8d4), color-stop(84.2%, #a0b8d4), to(#a9c5e5)), url("../../../multimedia/images/large/l-pharmacy-1.jpg"); background-image: linear-gradient(90deg, #92abc4, #92abc4 5.25%, #a0b8d4 5.26%, #a0b8d4 84.2%, #a9c5e5), url("../../../multimedia/images/large/l-pharmacy-1.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.receives-medication { background-image: -webkit-gradient(linear, left top, right top, from(#e17741), color-stop(5.25%, #e17741), color-stop(5.26%, #ea9861), color-stop(84.2%, #ea9861), to(#ea9862)), url("../../../multimedia/images/large/l-pharmacy-2.jpg"); background-image: linear-gradient(90deg, #e17741, #e17741 5.25%, #ea9861 5.26%, #ea9861 84.2%, #ea9862), url("../../../multimedia/images/large/l-pharmacy-2.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.at-home { background-image: -webkit-gradient(linear, left top, right top, from(#9a91b1), color-stop(5.25%, #9a91b1), color-stop(5.26%, #a89cbf), color-stop(84.2%, #a89cbf), to(#988daa)), url("../../../multimedia/images/large/l-pharmacy-14.jpg"); background-image: linear-gradient(90deg, #9a91b1, #9a91b1 5.25%, #a89cbf 5.26%, #a89cbf 84.2%, #988daa), url("../../../multimedia/images/large/l-pharmacy-14.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.refills-medication { background-image: -webkit-gradient(linear, left top, right top, from(#7e918b), color-stop(5.25%, #7e918b), color-stop(5.26%, #7c9c8c), color-stop(84.2%, #7c9c8c), to(#7ea08e)), url("../../../multimedia/images/large/l-pharmacy-15.jpg"); background-image: linear-gradient(90deg, #7e918b, #7e918b 5.25%, #7c9c8c 5.26%, #7c9c8c 84.2%, #7ea08e), url("../../../multimedia/images/large/l-pharmacy-15.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.continues-to-learn { background-image: -webkit-gradient(linear, left top, right top, from(#92abc4), color-stop(5.25%, #92abc4), color-stop(5.26%, #a0b8d4), color-stop(84.2%, #a0b8d4), to(#a9c5e5)), url("../../../multimedia/images/large/l-pharmacy-7.jpg"); background-image: linear-gradient(90deg, #92abc4, #92abc4 5.25%, #a0b8d4 5.26%, #a0b8d4 84.2%, #a9c5e5), url("../../../multimedia/images/large/l-pharmacy-7.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .main-image.therapy-continues { background-image: -webkit-gradient(linear, left top, right top, from(#e17741), color-stop(5.25%, #e17741), color-stop(5.26%, #ea9861), color-stop(84.2%, #ea9861), to(#ea9862)), url("../../../multimedia/images/large/l-pharmacy-8.jpg"); background-image: linear-gradient(90deg, #e17741, #e17741 5.25%, #ea9861 5.26%, #ea9861 84.2%, #ea9862), url("../../../multimedia/images/large/l-pharmacy-8.jpg"); background-size: 29% 100%, cover; background-position: right top, center; background-repeat: no-repeat; background-blend-mode: multiply; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-image .ilustration { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text { text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { font-family: inherit; font-size: 22px; font-weight: 200; color: #737373; text-transform: none; line-height: 1.54; max-width: 530px; text-align: left; margin: 0 auto; list-style: disc; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { font-size: 18px; } }
@media (max-width: 56.1875em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { list-style-position: inside; padding-left: 20px; } }
@media (max-width: 40.5625em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { font-size: 16px; max-width: 420px; padding-left: 10px; } }
@media (max-width: 31.1875em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { font-size: 15px; max-width: 350px; padding-left: 0; } }
@media (max-width: 24.9375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list { font-size: 14px; max-width: 280px; } }
#medication-journey > .content-container .slideshow .displayed-content .slide-set .slideshow-text .topics-list li:not(:last-child) { margin-bottom: 12px; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image { width: 820px; height: 420px; margin-bottom: 35px; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image { width: 546px; } }
@media (max-width: 40.5625em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image { width: 100vw; margin-bottom: 15px; } }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image .main-image { -webkit-box-shadow: 0 .5rem 2.5rem -.3rem rgba( 0, 0, 0, .25 ); box-shadow: 0 .5rem 2.5rem -.3rem rgba( 0, 0, 0, .25 ); }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image .ilustration { width: 122px; right: 58px; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image .ilustration { width: 85px; right: 34px; } }
@media (max-width: 40.5625em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image .ilustration { right: 5%; } }
@media (max-width: 28.0625em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="middle"] .slideshow-image .ilustration { width: 70px; } }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] { width: 550px; height: 100%; padding-top: 34px; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] { width: 420px; } }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] .slideshow-image { height: 350px; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] .slideshow-image .main-image { -webkit-filter: grayscale(100%) opacity(40%); filter: grayscale(100%) opacity(40%); -webkit-transition: -webkit-filter 0.5s ease-in-out; transition: -webkit-filter 0.5s ease-in-out; transition: filter 0.5s ease-in-out; transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] .slideshow-image .ilustration { width: 92px; right: 30px; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] .slideshow-image .ilustration { width: 75px; right: 16px; } }
#medication-journey > .content-container .slideshow .displayed-content .slide-set[class~="side"] .slideshow-text { display: none; }
#medication-journey > .content-container .slideshow .displayed-content .slide-set:hover .slideshow-image .main-image { -webkit-filter: none; filter: none; }
#medication-journey > .content-container .slideshow .arrows-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; width: 820px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 485px; -webkit-transition: -webkit-filter 1s ease-in-out 1s; transition: -webkit-filter 1s ease-in-out 1s; transition: filter 1s ease-in-out 1s; transition: filter 1s ease-in-out 1s, -webkit-filter 1s ease-in-out 1s; }
@media (max-width: 53.0625em) { #medication-journey > .content-container .slideshow .arrows-set { width: 660px; } }
@media (max-width: 46.8125em) { #medication-journey > .content-container .slideshow .arrows-set:not([class~="video-display"]) { position: static; width: 90%; -webkit-transform: none; transform: none; margin: 20px auto 0; } }
#medication-journey > .content-container .slideshow .arrows-set > * { cursor: pointer; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .arrows-set > * { width: 18px; } }
#medication-journey > .content-container .slideshow .arrows-set .larr { -webkit-transform: translateX(10px); transform: translateX(10px); }
#medication-journey > .content-container .slideshow .arrows-set .larr:hover { -webkit-transform: translateX(4px); transform: translateX(4px); padding-right: 6px; }
#medication-journey > .content-container .slideshow .arrows-set .larr:active { -webkit-transform: translateX(0px); transform: translateX(0px); padding-right: 10px; }
#medication-journey > .content-container .slideshow .arrows-set .rarr { -webkit-transform: scaleX(-1) translateX(10px); transform: scaleX(-1) translateX(10px); }
#medication-journey > .content-container .slideshow .arrows-set .rarr:hover { -webkit-transform: scaleX(-1) translateX(4px); transform: scaleX(-1) translateX(4px); padding-right: 6px; }
#medication-journey > .content-container .slideshow .arrows-set .rarr:active { -webkit-transform: scaleX(-1) translateX(0px); transform: scaleX(-1) translateX(0px); padding-right: 10px; }
#medication-journey > .content-container .slideshow .arrows-set.video-display { -webkit-filter: grayscale(100%) brightness(350%); filter: grayscale(100%) brightness(350%); }
@media (max-width: 62.4375em) { #medication-journey > .content-container .slideshow .arrows-set.video-display { width: 92%; top: 445px; } }
@media (max-width: 32.4375em) { #medication-journey > .content-container .slideshow .arrows-set.video-display { top: 385px; } }
/*# sourceMappingURL=medication-journey.css.map */