// Plain

@mixin plain( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semi-bold: false, $bold: false, $extra-bold: false, $black: false,
              $normal: false, $italic: false, $oblique: false,
              $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
              $all: true )
  { $name: "plain";
    @if $thin or $all
      { @font-face
    		  { font-family: "Plain"; $type: "ultra-light";
    				src: local( "Plain UltraLight" ), local( "Plain-UltraLight" ),
    				url( o-get-font( $name, $type, "woff2" ) ), url( o-get-font( $name, $type, "otf" ) );
    				font: { weight: 100; style: normal; stretch: normal } } }
    @if $extra-light or $all
      { @font-face
          { font-family: "Plain"; $type: "thin";
            src: local( "Plain Thin" ), local( "Plain-Thin" ),
            url( o-get-font( $name, $type, "woff2" ) ), url( o-get-font( $name, $type, "otf" ) );
            font: { weight: 200; style: normal; stretch: normal } } }
    @if $light or $all
      { @font-face
          { font-family: "Plain"; $type: "light";
            src: local( "Plain Light" ), local( "Plain-Light" ),
            url( o-get-font( $name, $type, "woff2" ) ), url( o-get-font( $name, $type, "otf" ) );
            font: { weight: 300; style: normal; stretch: normal } } }
    @if $regular or $all
      { @font-face
          { font-family: "Plain"; $type: "regular";
            src: local( "Plain Regular" ), local( "Plain-Regular" ),
            url( o-get-font( $name, $type, "woff2" ) ), url( o-get-font( $name, $type, "otf" ) );
            font: { weight: 400; style: normal; stretch: normal } } }
    @if $extra-bold or $all
      { @font-face
          { font-family: "Plain"; $type: "extra-bold";
            src: local( "Plain ExtraBold" ), local( "Plain-ExtraBold" ),
            url( o-get-font( $name, $type, "woff2" ) ), url( o-get-font( $name, $type, "otf" ) );
            font: { weight: 700; style: normal; stretch: normal } } } }
