#achievements { font-family: $f-sans-1; background: url( o-get-img( x-large, "color-band-1.png" ) ), nth( $c-1, 1 ) no-repeat 50% 100%/auto;
  @media ( max-width: o-px-to-abs-em( 1319px ) ) { background-size: cover; background-position: center }
  & * { @include initial-setup }
  & > .content-container { @include set-grid( 194px 120px, 15px, 1680px + 30px );
    @media ( max-width: o-px-to-abs-em( 599px ) ) { padding: { top: 220px; bottom: 20px } }
    & .achievements-list { @include row-flex( $wrap: wrap ); color: white; margin: { left: 34px; right: 134px };
      @media ( max-width: o-px-to-abs-em( 1499px ) ) { margin: { left: 25px; right: 0 } }
      @media ( max-width: o-px-to-abs-em( 1319px ) ) { margin-left: 0 }
      & li { flex-basis: 280px;
        @media ( max-width: o-px-to-abs-em( 1319px ) ) { flex-basis: 50% }
        @media ( max-width: o-px-to-abs-em( 599px ) ) { flex-basis: 100% }
        & .achievement { @include column-flex( center, flex-start ); width: fit-content;
          @media ( max-width: o-px-to-abs-em( 1319px ) ) { align-items: center; margin: 0 auto 40px }
          @media ( max-width: o-px-to-abs-em( 599px ) ) { margin-bottom: 60px }
          &.lift { animation: lift nth( $a-dt, 8 ) 2 both alternate }
          & .ilustration {  }
          & .display-text { display: block; font: { size: 60px; weight: 700 }; margin-top: 15px; cursor: default }
          & .side-text { display: block; font: { size: 24px; weight: 100 }; line-height: 1.45;
            @media ( max-width: o-px-to-abs-em( 1319px ) ) { max-width: 260px; text-align: center }
            & br {
              @media ( max-width: o-px-to-abs-em( 1319px ) ) { display: none } } } } } } } }
