@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Pré-Configurações do Site */
@font-face { font-family: "Plain"; src: local("Plain UltraLight"), local("Plain-UltraLight"), url("../../../multimedia/fonts/plain/plain-ultra-light.woff2"), url("../../../multimedia/fonts/plain/plain-ultra-light.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Thin"), local("Plain-Thin"), url("../../../multimedia/fonts/plain/plain-thin.woff2"), url("../../../multimedia/fonts/plain/plain-thin.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Light"), local("Plain-Light"), url("../../../multimedia/fonts/plain/plain-light.woff2"), url("../../../multimedia/fonts/plain/plain-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Regular"), local("Plain-Regular"), url("../../../multimedia/fonts/plain/plain-regular.woff2"), url("../../../multimedia/fonts/plain/plain-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain ExtraBold"), local("Plain-ExtraBold"), url("../../../multimedia/fonts/plain/plain-extra-bold.woff2"), url("../../../multimedia/fonts/plain/plain-extra-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@-webkit-keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@-webkit-keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
/* Info Boxes: Transição para a Face Traseira */
@-webkit-keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
/* Info Boxes: Transição para a Face Dianteira */
@-webkit-keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
/* Achievements: Baloneamento dos Itens */
@-webkit-keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
@keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
/* Configurações de Entrada */
/*-------------------------------------------------------------------------------*/
/* Componentes */
#achievements { font-family: "Plain", sans-serif; background: url("../../../multimedia/images/x-large/L-color-band-1.png"), #f5f5fa no-repeat 50% 100%/auto; }
@media (max-width: 82.4375em) { #achievements { background-size: cover; background-position: center; } }
#achievements * { /* Atributos & Classes */ }
#achievements * *, #achievements * *::before, #achievements * *::after { padding: 0; border: none; margin: 0; }
#achievements * h1, #achievements * h2, #achievements * h3, #achievements * h4, #achievements * h5, #achievements * h6, #achievements * caption, #achievements * legend { cursor: default; }
#achievements * p:not(:last-child) { margin-bottom: 0.6em; }
#achievements * a:link, #achievements * a:visited, #achievements * a:hover, #achievements * a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }
#achievements * ol, #achievements * ul { list-style: none; }
#achievements * dt { display: inline; }
#achievements * dt::after { content: ": "; }
#achievements * dd { display: inline; }
#achievements * picture { display: inline-block; }
#achievements * picture img { width: 100%; height: auto; }
#achievements * img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#achievements * abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
#achievements * abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { #achievements * abbr[title] { border: none; } }
#achievements * abbr[data-title]::after { content: " (" attr(data-title) ")"; }
#achievements * address, #achievements * cite:not([lang]) { font-style: normal; }
#achievements * button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; background-color: transparent; }
#achievements * input, #achievements * textarea, #achievements * select { font-family: inherit; font-weight: inherit; font-stretch: inherit; outline: none; resize: none; }
#achievements * template { display: none; }
#achievements * [tabindex] { outline: none; }
#achievements * .line { display: block; }
#achievements > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 1710px; padding: 194px 15px 120px; margin: 0 auto 0; }
@media (max-width: 37.4375em) { #achievements > .content-container { padding-top: 220px; padding-bottom: 20px; } }
#achievements > .content-container .achievements-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; color: white; margin-left: 34px; margin-right: 134px; }
@media (max-width: 93.6875em) { #achievements > .content-container .achievements-list { margin-left: 25px; margin-right: 0; } }
@media (max-width: 82.4375em) { #achievements > .content-container .achievements-list { margin-left: 0; } }
#achievements > .content-container .achievements-list li { -ms-flex-preferred-size: 280px; flex-basis: 280px; }
@media (max-width: 82.4375em) { #achievements > .content-container .achievements-list li { -ms-flex-preferred-size: 50%; flex-basis: 50%; } }
@media (max-width: 37.4375em) { #achievements > .content-container .achievements-list li { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
#achievements > .content-container .achievements-list li .achievement { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-line-pack: normal; align-content: normal; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }
@media (max-width: 82.4375em) { #achievements > .content-container .achievements-list li .achievement { -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 auto 40px; } }
@media (max-width: 37.4375em) { #achievements > .content-container .achievements-list li .achievement { margin-bottom: 60px; } }
#achievements > .content-container .achievements-list li .achievement.lift { -webkit-animation: lift 1.5s ease-in-out 2 both alternate; animation: lift 1.5s ease-in-out 2 both alternate; }
#achievements > .content-container .achievements-list li .achievement .display-text { display: block; font-size: 60px; font-weight: 700; margin-top: 15px; cursor: default; }
#achievements > .content-container .achievements-list li .achievement .side-text { display: block; font-size: 24px; font-weight: 100; line-height: 1.45; }
@media (max-width: 82.4375em) { #achievements > .content-container .achievements-list li .achievement .side-text { max-width: 260px; text-align: center; } }
@media (max-width: 82.4375em) { #achievements > .content-container .achievements-list li .achievement .side-text br { display: none; } }
/*# sourceMappingURL=achievements.css.map */