/* Configurações de Entrada */
  @mixin initial-setup
    { *, *::before, *::after { padding: 0; border: none; margin: 0 }
      h1, h2, h3, h4, h5, h6, caption, legend { cursor: default }
      p {
      	&:not( :last-child ) { margin-bottom: .6em } }
      a:link, a:visited, a:hover, a:active { color: inherit; hyphens: none; text-decoration: none; transition: color .4s ease-out }
      ol, ul { list-style: none }
      dt { display: inline;
      	&::after { content: ": " } }
      dd { display: inline }
      picture { display: inline-block;
        & img { width: 100%; height: auto } }
      img { user-select: none }
      abbr { font-style: normal; hyphens: none; text-decoration: none;
      	&[title] { border: { bottom: dashed .1rem; color: inherit }; cursor: help;
      		@media( max-device-width: 899px ) { border: none } }
       	&[data-title]::after { content: " (" attr( data-title ) ")" } }
      address, cite:not( [lang] ) { font-style: normal }
      button { box-sizing: content-box; font-family: inherit; line-height: 1; cursor: pointer; user-select: none; outline: none; background-color: transparent }
      input, textarea, select { font: { family: inherit; weight: inherit; stretch: inherit }; outline: none; resize: none }
      template { display: none }

      /* Atributos & Classes */
      [ tabindex ] { outline: none }
      .line { display: block } }

/*-------------------------------------------------------------------------------*/

// Gradientes

@mixin gradient-1 ( $color-1, $color-2, $color-3, $color-4 )
  { background-image: linear-gradient( 180deg, $color-1, $color-2 49.99%, $color-3 50%, $color-4 ) }

@mixin gradient-2 ( $color-3, $color-1: hsl(268, 46%, 24%), $color-2: mix( $color-3, $color-1, 20% ) )
  { background-image: linear-gradient( 55deg, $color-1, $color-2 50%, $color-3 ) }

// Componentes

@mixin circle-1 ( $b-color: null )
  { & .circle { @include rounded-gradient( 90px, 7px, nth( $c-3, 1 ), $b-color );
      &::after { filter: unquote( nth( $ds, 1 ) ) }
      & .ilustration { display: inline-block; @include pos-center;
        & img { @include img-center } }
    @content; } }

// Planos de Fundo

// Primeiro

@mixin background-1 ( $colors, $img ) // Plano de Fundo para o Slideshow da Medical Journey
  { $gradient: linear-gradient( 90deg, nth( $colors, 1 ), nth( $colors, 1 ) 5.25%, nth( $colors, 2 ) 5.26%, nth( $colors, 2 ) 84.2%, nth( $colors, 3 ) );
    background: { image: $gradient, url( o-get-img( $img... ) ); size: 29% 100%, cover;
                  position: right top, center; repeat: no-repeat; blend-mode: multiply } }
