// Fontes

@include plain;

$f-sans-1: "Plain", sans-serif;

// Cores

$c-0: ( hsl( 0, 0%, 45% ), hsl( 0, 0%, 30% ), hsl( 0, 0%, 5% ) );
$c-1: ( hsl( 240, 33%, 97% ), hsl( 242, 34%, 43% ) );
$c-2: ( hsl( 265, 29%, 52% ), hsl( 265, 45%, 50% ) );
$c-3: ( hsl( 347, 90%, 64% ) );

$slideshow: ( hsl( 257, 17%, 63% ) hsl( 261, 21%, 68% ) hsl( 263, 15%, 61% ), hsl( 20, 73%, 57% ) hsl( 24, 77%, 65% ) hsl( 24, 76%, 65% ),
              hsl( 210, 30%, 67% ) hsl( 212, 38%, 73% ) hsl( 212, 54%, 78% ), hsl(161, 8%, 53%) hsl(149, 14%, 55%) hsl(148, 15%, 56%) );

// Gradientes

$lg: ( "linear-gradient( 90deg, hsla( 0, 0%, 100%, .15 ), hsla( 0, 0%, 100%, 0 ) )" );

// Sombras

$ds: ( "drop-shadow( 0 4px 3px hsla( 0, 0%, 0%, .18 ) )" );

$bs: ( "0 .5rem 2.5rem -.3rem rgba( 0, 0, 0, .25 )" /* Medication Journey: Slideshow Central */ );

// Animações

@include fade-in; @include fade-out;
@include move-left( -80px, false, 0, true ); @include move-right( -40px, false, 0, true );

$a-dt: ( 1s ease-in-out /* Medication Journey: Transição de Opacidade do Filtro dos Slides, e da [Entrada/Saída] da seção de vídeos */,
         .5s ease-in-out /* Medication Journey: Animação de Movimento das Setas do Slideshow */,
         .5s ease-out /* Medication Journey: Transição de Filtro das Imagens do Slideshow */,
         .8s ease-out /* Medication Journey: Animação de Cores dos Links de Vídeos */,
         1.2s ease-in-out /* Medication Journey: Aparição dos Títulos Superiores do Slideshow */,
         .15s ease-in /* Boxes Informativos: Animação de Giro */,
         .15s ease-out /* Boxes Informativos: Animação de Giro */,
         1.5s ease-in-out /* Achievements: Baloneamento dos Tópicos */ );

/* Info Boxes: Transição para a Face Traseira */

@keyframes turn-in
  { 0% { transform: rotateY( 0deg ) }
    100% { transform: rotateY( 90deg ) } }

/* Info Boxes: Transição para a Face Dianteira */

@keyframes turn-out
  { 0% { transform: rotateY( -90deg ) }
    100% { transform: rotateY( 0deg ) } }

/* Achievements: Baloneamento dos Itens */

@keyframes lift
  { from { transform: scale( 1 ) translateY( 0 ) }
    to { transform: scale( 1.07 ) translateY( -6px ) } }

// Inquéritos de Mídia

$media: ( "( max-width: #{ o-px-to-abs-em( 1679px ) } ) and ( min-width: #{ o-px-to-abs-em( 1270px ) } ), ( max-width: #{ o-px-to-abs-em( 1129px ) } ) and ( min-width: #{ o-px-to-abs-em( 860px ) } ), ( max-width: #{ o-px-to-abs-em( 579px ) } )",
          "( max-width: #{ o-px-to-abs-em( 1429px ) } ) and ( min-width: #{ o-px-to-abs-em( 1270px ) } ), ( max-width: #{ o-px-to-abs-em( 959px ) } ) and ( min-width: #{ o-px-to-abs-em( 860px ) } ), ( max-width: #{ o-px-to-abs-em( 489px ) } )" )
