#info-boxes { font-family: $f-sans-1; line-height: 1; background-color: nth( $c-1, 1 );
  &:not( :empty ), & * { box-sizing: content-box; padding: 0; margin: 0; border: none }
  & > .content-container { @include set-grid( 100px, 15px, 1070px + 30px );
    & .boxes-list { list-style: none; @include row-flex( center, $wrap: wrap ); padding-top: 20px; margin-bottom: calc( 100px - 35px );
      @media ( max-width: o-px-to-abs-em( 614px ) ) { flex-direction: column }
      & > li { margin-bottom: 35px; cursor: default;
        &:not( :nth-child( 3n ) ) { margin-right: 20px;
          @media ( max-width: o-px-to-abs-em( 899px ) ) { margin-right: 0 } }
        &:nth-child( odd ) {
          @media ( max-width: o-px-to-abs-em( 899px ) ) and ( min-width: o-px-to-abs-em( 615px ) ) { margin-right: 30px } }
        & .box { width: 268px; height: 288.5px; position: relative; margin: 0 auto; perspective: 2000px;
          & .front-face { @include fill( 35px 0 ); @include column-flex( flex-start ); background-color: white; position: relative; z-index: 1; animation: turn-in nth( $a-dt, 6 ) both infinite alternate paused; backface-visibility: hidden;
            & .title { @include set-font( 30px, 700, nth( $c-2, 1 ) ); margin-bottom: 40px }
            & .ilustration { display: inline-block; width: 130px; height: 130px; padding: 0 20px;
              & img { @include img-center; user-select: none } } }
          & .back-face { @include fill( 35px 0 ); color: white; position: absolute; top: 0; left: 0; backface-visibility: hidden; animation: turn-out nth( $a-dt, 7 ) both infinite alternate paused;
            & .title { font: { size: 30px; weight: 700 }; text-align: center }
            & .content-body { padding: 0 20px;
              & .info-list { list-style: none;
                & > li {
                  & > :nth-child( n ) { display: block }
                  & .display-text { font-weight: 700; margin-bottom: 5px }
                  & .side-text { font: { size: 25px; weight: 200 }; white-space: nowrap }
                  & .text { font: { size: 30px; weight: 700 }; text-align: center } } } }
            &.single {
              & .title { margin-bottom: 45px }
              & .content-body {
                & .info-list {
                  & > li { text-align: center;
                    & .display-text { font-size: 56px } } } } }
            &.multi {
              & .title { margin-bottom: 30px }
              & .content-body {
                & .info-list {
                  & > li {
                    &:not( :last-child ) {
                      & .side-text { margin-bottom: 25px }
                      & .text { margin-bottom: 45px } }
                    & .display-text { font-size: 40px } } } } } } }
        &:nth-of-type( 3n + 1 ) .box .back-face { @include gradient-2( hsl( 314, 42%, 51% ) ) }
        &:nth-of-type( 3n + 2 ) .box .back-face { @include gradient-2( hsl( 147, 55%, 42% ) ) }
        &:nth-of-type( 3n ) .box .back-face { @include gradient-2( hsl( 33, 94%, 59% ) ) } } }
    & > .heading-container { text-align: center; max-width: 730px; margin: 0 auto;
      & .title { @include set-font( 30px, 400, nth( $c-0, 1 ) ); line-height: 1.6;
        @media ( max-width: o-px-to-abs-em( 899px ) ) { font-size: 25px }
        @media ( max-width: o-px-to-abs-em( 614px ) ) { font-size: 23px }
        @media ( max-width: o-px-to-abs-em( 614px ) ) { font-size: 20px } } } } }
