@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Pré-Configurações do Site */
@font-face { font-family: "Plain"; src: local("Plain UltraLight"), local("Plain-UltraLight"), url("../../../multimedia/fonts/plain/plain-ultra-light.woff2"), url("../../../multimedia/fonts/plain/plain-ultra-light.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Thin"), local("Plain-Thin"), url("../../../multimedia/fonts/plain/plain-thin.woff2"), url("../../../multimedia/fonts/plain/plain-thin.otf"); font-weight: 200; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Light"), local("Plain-Light"), url("../../../multimedia/fonts/plain/plain-light.woff2"), url("../../../multimedia/fonts/plain/plain-light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain Regular"), local("Plain-Regular"), url("../../../multimedia/fonts/plain/plain-regular.woff2"), url("../../../multimedia/fonts/plain/plain-regular.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Plain"; src: local("Plain ExtraBold"), local("Plain-ExtraBold"), url("../../../multimedia/fonts/plain/plain-extra-bold.woff2"), url("../../../multimedia/fonts/plain/plain-extra-bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@keyframes fade-out { from { opacity: 1; }
  to { opacity: 0; } }
@-webkit-keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@keyframes move-left { 0% { left: -80px; opacity: 0; }
  100% { left: 0; opacity: 1; } }
@-webkit-keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: -40px; opacity: 0; }
  100% { right: 0; opacity: 1; } }
/* Info Boxes: Transição para a Face Traseira */
@-webkit-keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
@keyframes turn-in { 0% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
  100% { -webkit-transform: rotateY(90deg); transform: rotateY(90deg); } }
/* Info Boxes: Transição para a Face Dianteira */
@-webkit-keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
@keyframes turn-out { 0% { -webkit-transform: rotateY(-90deg); transform: rotateY(-90deg); }
  100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); } }
/* Achievements: Baloneamento dos Itens */
@-webkit-keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
@keyframes lift { from { -webkit-transform: scale(1) translateY(0); transform: scale(1) translateY(0); }
  to { -webkit-transform: scale(1.07) translateY(-6px); transform: scale(1.07) translateY(-6px); } }
/* Configurações de Entrada */
/*-------------------------------------------------------------------------------*/
/* Componentes */
#info-boxes { font-family: "Plain", sans-serif; line-height: 1; background-color: #f5f5fa; }
#info-boxes:not(:empty), #info-boxes * { -webkit-box-sizing: content-box; box-sizing: content-box; padding: 0; margin: 0; border: none; }
#info-boxes > .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 1100px; padding: 100px 15px 100px; margin: 0 auto 0; }
#info-boxes > .content-container .boxes-list { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; padding-top: 20px; margin-bottom: calc( 100px - 35px ); }
@media (max-width: 38.375em) { #info-boxes > .content-container .boxes-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
#info-boxes > .content-container .boxes-list > li { margin-bottom: 35px; cursor: default; }
#info-boxes > .content-container .boxes-list > li:not(:nth-child(3n)) { margin-right: 20px; }
@media (max-width: 56.1875em) { #info-boxes > .content-container .boxes-list > li:not(:nth-child(3n)) { margin-right: 0; } }
@media (max-width: 56.1875em) and (min-width: 38.4375em) { #info-boxes > .content-container .boxes-list > li:nth-child(odd) { margin-right: 30px; } }
#info-boxes > .content-container .boxes-list > li .box { width: 268px; height: 288.5px; position: relative; margin: 0 auto; -webkit-perspective: 2000px; perspective: 2000px; }
#info-boxes > .content-container .boxes-list > li .box .front-face { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 35px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: normal; align-content: normal; background-color: white; position: relative; z-index: 1; -webkit-animation: turn-in 0.15s ease-in both infinite alternate paused; animation: turn-in 0.15s ease-in both infinite alternate paused; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#info-boxes > .content-container .boxes-list > li .box .front-face .title { font-family: inherit; font-size: 30px; font-weight: 700; color: #7f61a8; text-transform: none; margin-bottom: 40px; }
#info-boxes > .content-container .boxes-list > li .box .front-face .ilustration { display: inline-block; width: 130px; height: 130px; padding: 0 20px; }
#info-boxes > .content-container .boxes-list > li .box .front-face .ilustration img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#info-boxes > .content-container .boxes-list > li .box .back-face { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; padding: 35px 0; color: white; position: absolute; top: 0; left: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-animation: turn-out 0.15s ease-out both infinite alternate paused; animation: turn-out 0.15s ease-out both infinite alternate paused; }
#info-boxes > .content-container .boxes-list > li .box .back-face .title { font-size: 30px; font-weight: 700; text-align: center; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body { padding: 0 20px; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body .info-list { list-style: none; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body .info-list > li > :nth-child(n) { display: block; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body .info-list > li .display-text { font-weight: 700; margin-bottom: 5px; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body .info-list > li .side-text { font-size: 25px; font-weight: 200; white-space: nowrap; }
#info-boxes > .content-container .boxes-list > li .box .back-face .content-body .info-list > li .text { font-size: 30px; font-weight: 700; text-align: center; }
#info-boxes > .content-container .boxes-list > li .box .back-face.single .title { margin-bottom: 45px; }
#info-boxes > .content-container .boxes-list > li .box .back-face.single .content-body .info-list > li { text-align: center; }
#info-boxes > .content-container .boxes-list > li .box .back-face.single .content-body .info-list > li .display-text { font-size: 56px; }
#info-boxes > .content-container .boxes-list > li .box .back-face.multi .title { margin-bottom: 30px; }
#info-boxes > .content-container .boxes-list > li .box .back-face.multi .content-body .info-list > li:not(:last-child) .side-text { margin-bottom: 25px; }
#info-boxes > .content-container .boxes-list > li .box .back-face.multi .content-body .info-list > li:not(:last-child) .text { margin-bottom: 45px; }
#info-boxes > .content-container .boxes-list > li .box .back-face.multi .content-body .info-list > li .display-text { font-size: 40px; }
#info-boxes > .content-container .boxes-list > li:nth-of-type(3n + 1) .box .back-face { background-image: linear-gradient(55deg, #3b2159, #542a67 50%, #b74e9e); }
#info-boxes > .content-container .boxes-list > li:nth-of-type(3n + 2) .box .back-face { background-image: linear-gradient(55deg, #3b2159, #393c5b 50%, #30a665); }
#info-boxes > .content-container .boxes-list > li:nth-of-type(3n) .box .back-face { background-image: linear-gradient(55deg, #3b2159, #613a52 50%, #f9a034); }
#info-boxes > .content-container > .heading-container { text-align: center; max-width: 730px; margin: 0 auto; }
#info-boxes > .content-container > .heading-container .title { font-family: inherit; font-size: 30px; font-weight: 400; color: #737373; text-transform: none; line-height: 1.6; }
@media (max-width: 56.1875em) { #info-boxes > .content-container > .heading-container .title { font-size: 25px; } }
@media (max-width: 38.375em) { #info-boxes > .content-container > .heading-container .title { font-size: 23px; } }
@media (max-width: 38.375em) { #info-boxes > .content-container > .heading-container .title { font-size: 20px; } }
/*# sourceMappingURL=info-boxes.css.map */